* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	text-align: center;
	background-color: silver;
	padding: 16px;
}

footer {
	padding: 8px;
	background-color: silver;
	text-align: center;
}

.main {
	display: flex;
	/*justify-content: space-around;*/
	flex-wrap: wrap;
}

.main .menu {
	border: 1px solid black;
	margin: 16px;
}

.main .display {
	border: 3px solid black;
	border-radius: 8px;
	margin: 16px;
	flex-basis: 85vh;
}

.display .canvas {
	display: flex;
	flex-wrap: wrap;
}

.canvas .square-grid {
	border: 1px solid black;
}

/* Algorithm To adjust height and make it square */
.canvas .square-grid:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.fill-color {
	background-color: rgb(red, green, blue);
}

.menu .change-canvas-grid {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.change-canvas-grid h2 {
	font-size: 32px;
}

.change-canvas-grid input {
	margin-top: 8px;
}

.change-canvas-grid p {
	font-size: 20px;
}

.change-fill-color {
	font-size: 32px;
}

.change-fill-color input {
	border: transparent;
}


.menu .grid-modes {
	display: flex;
	flex-direction: column;
}

.grid-modes h2 {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}

.grid-modes .rainbow,
.grid-modes .darken {
	font-size: 20px;
	padding: 8px;
}
