* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	text-align: center;
	padding: 16px 0;
	background-color: #12343b;
	color: white;
	font-size: 1.8em;
}

footer {
	padding: 8px;
	background-color: silver;
	text-align: center;
}

.main {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 16px;
	background-color: #fff5d7;
}

.main .menu {
	border: 5px solid black;
	padding: 16px;
	margin: 16px 0;
	border-radius: 16px;
	background-color: #f6f5f3;
}

.main .display {
	border: 3px solid black;
	border-radius: 8px;
	margin: 16px;
	flex-basis: 85vh;
}

.display .canvas {
	display: flex;
	flex-wrap: wrap;
}

.grid-show {
	border: 1px solid black;
}

/* Algorithm To adjust height and make it square */
.canvas .square-grid:after {
	border-color: rgba(0, 0, 0, 100%);
	content: "";
	display: block;
	padding-bottom: 100%;
}

.menu .color-pick,
.menu .change-canvas-grid {
	display: flex;
	flex-direction: column;
}

.pen-color,
.bg-color {
	font-size: 24px;
}

.pen-color input,
.bg-color input {
	border: transparent;
	height: 24px;
	width: 24px;
}

.menu .grid-modes {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 8px;
}

.grid-modes button {
	font-size: 20px;
	font-weight: 900;
	border-radius: 8px;
	padding: 4px;
	background-color: #cdfee4;

}

.change-canvas-grid {
	font-size: 18px;
	text-align: center;
}
